Source: ros-kinetic-rslidar
Section: misc
Priority: extra
Maintainer: Abraham Monrroy <abrahammonrroy@yahoo.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rslidar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rslidar-driver, ros-kinetic-rslidar-msgs, ros-kinetic-rslidar-pointcloud
Description: Basic ROS support for the Robosense 3D LIDARs.
