Source: ros-melodic-rslidar
Section: misc
Priority: extra
Maintainer: Abraham Monrroy <abrahammonrroy@yahoo.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-rslidar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-rslidar-driver, ros-melodic-rslidar-msgs, ros-melodic-rslidar-pointcloud
Description: Basic ROS support for the Robosense 3D LIDARs.
